* {

	font-family: 'Pangolin', cursive;
	color: #262626;
}


/*badge*/
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

{
	box-shadow: 10px 10px 20px #262626;     /*1st value for left or right 2nd value for top or right*/
}	